:root{
  --font-a: 'Fredericka the Great', cursive;
  --font-b: 'Cabin Sketch', cursive;
  --font-c: 'Rye', cursive;
  --font-d: 'East Sea Dokdo', cursive;
  --color-a: rgb(121, 5, 5);
  --color-b: rgb(2, 255, 103);
  --color-c: rgb(255, 91, 2);
  --color-d: rgb(243, 11, 255);
  --cubic1-1: .15;
  --cubic1-2: .18;
  --cubic1-3: .44;
  --cubic1-4: .28;
  --translation :0;
  --translation-a: 0;
  --translation-b: 0;
  --translation-c: 0;
  --translation-d: 0;
  --translation-e: 0;
  --translation-f: 0;
  --translation-g: 0;
  --translation-h: 0;
  --translation-i: 0;
  --translation-j: 0;
  --translation-k: 0;
  --translation-l: 0;
  --translation-m: 0;
  --translation-n: 0;
  --translation-o: 0;
  --translation-p: 0;
  --translation-q: 0;
  --translation-r: 0; 
  --translation-s: 0;
  --translation-t: 0;
  --translation-u: 0; 
}

@keyframes run {
	0% {
    transform: translate3d(0,0,0) rotate(-20deg) scale(0.8)
    translateX(var(--translation-a))
    translateY(var(--translation-b));
    
	}
	100% {

    transform: translate3d(1ch, 0.4in, 1em) rotate(380deg) scale(0.6)
    translateX(var(--translation-c))
    translateY(var(--translation-d));
	};
}

@keyframes run1 {
	0% {
    transform: translate3d(0,0,0) rotate(-20deg) scale(0.8)
    translateX(var(--translation-e))
    translateY(var(--translation-f));
    
	}
	100% {

    transform: translate3d(1ch, 0.4in, 1em) rotate(380deg) scale(0.6)
    translateX(var(--translation-g))
    translateY(var(--translation-j));
	};
}
@keyframes run2 {
	0% {
    transform: translate3d(0,0,0) rotate(-20deg) scale(0.8)
    translateX(var(--translation-i))
    translateY(var(--translation-k));
    
	}
	100% {

    transform: translate3d(1ch, 0.4in, 1em) rotate(380deg) scale(0.6)
    translateX(var(--translation-l))
    translateY(var(--translation-m));
	};
}
@keyframes run3 {
	0% {
    transform: translate3d(0,0,0) rotate(-20deg) scale(0.8)
    translateX(var(--translation-n))
    translateY(var(--translation-o));
    
	}
	100% {

    transform: translate3d(1ch, 0.4in, 1em) rotate(380deg) scale(0.6)
    translateX(var(--translation-p))
    translateY(var(--translation-q));
	};
}
@keyframes run4 {
	0% {
    transform: translate3d(0,0,0) rotate(-20deg) scale(0.8)
    translateX(var(--translation-r))
    translateY(var(--translation-s));
    
	}
	100% {

    transform: translate3d(1ch, 0.4in, 1em) rotate(380deg) scale(0.6)
    translateX(var(--translation-t))
    translateY(var(--translation-u));
	};
}
@keyframes gameOver {
	0% {
    transform: translate3d(0,0,0) scale(0.95)
    
	}
	100% {

    transform: translate3d(0.1ch, 0.1in, 0.1em) scale(1)
	};
}
html,
body {
  color: var(--color-b);
  font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif;
  font-family: var(--font-a);
  font-size: 16px;
  background-color: #4ab2f9;
  background-image: linear-gradient(0deg, #4ab2f9 51%, #0a6282 100%);
  height:100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  min-height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  perspective-origin: center center;
  header{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    background-image: linear-gradient(0deg, #07538551 51%, #0a6282 100%);
    color:var(--color-c);
    font-family: var(--font-c);
    h4 {font-size: 1.65rem;}
    .nextGame{
      padding:1rem;
      button{
        font-size: 2.4rem;
        color: white;
        font-family: var(--font-b);
        text-transform: uppercase;
        background-color: var(--color-c);
        text-shadow: 2px 4px 4px black;
        border-radius:6px;
        border:2px solid black;
        box-shadow: 4px 4px 14px rgb(38, 36, 36);
        transition: all 300ms;
        user-select: none;
        &:hover {
          cursor: pointer;
          transform:scale(0.95);
          
        }
      }
    }
  }
  .App {
    display:block;
    max-width:1024px;
    width:100%;
    margin:0 auto;
    position:relative;
    button {
      outline: none;
      background-color: #ebebeb;
      border-radius: 4px;
      border-color: #80808000;
      user-select: none;
    }
    .flexWrapper{
      display:flex;
      flex-flow: column;
      font-size: 2.5rem;
      text-shadow: 2px 2px 10px black;;
      text-transform: uppercase;
      color: var(--color-c);
      animation: gameOver 3s cubic-bezier(.3,.9,.77,.89) 1s infinite alternate-reverse both;
    }
    ul {
      display:flex;
      list-style: none;
      margin:3rem auto 0 auto;
      width:85%;
      flex-flow: wrap-reverse;
      li {
        width: fit-content;
        height: max-content;
        color: var(--color-a);
        font-size:10rem;
        font-weight: bold;
        font-family: var(--font-a);
        animation: run 3s cubic-bezier(calc(var(--cubic1-1)),calc(var(--cubic1-2)),calc(var(--cubic1-3)),calc(var(--cubic1-4))) 1s infinite alternate-reverse both;
        transition:550ms all;
        &:hover{
          cursor: grab;
        }
      }
      li:nth-child(odd) {
        color: var(--color-b);
        font-family: var(--font-b);
        animation: run1 3s cubic-bezier(calc(var(--cubic1-1)),calc(var(--cubic1-2)),calc(var(--cubic1-3)),calc(var(--cubic1-4))) 1s infinite alternate-reverse both;
      }
      li:nth-child(even) {
        color: var(--color-c);
        font-family: var(--font-c);
        animation: run2 3s cubic-bezier(calc(var(--cubic1-1)),calc(var(--cubic1-2)),calc(var(--cubic1-3)),calc(var(--cubic1-4))) 1s infinite alternate-reverse both;
      }
      li:nth-child(8n) {
        color: var(--color-a);
        font-family: var(--font-a);
      }
      li:nth-child(4n) {
        color: var(--color-a);
        font-family: var(--font-a);
      }
      li:last-child{
        color: var(--color-d);
        font-family: var(--font-d);
        animation: run3 3s cubic-bezier(calc(var(--cubic1-1)),calc(var(--cubic1-2)),calc(var(--cubic1-3)),calc(var(--cubic1-4))) 1s infinite reverse both;
      }
      li:first-child{
        color: var(--color-d);
        font-family: var(--font-d);
        animation: run4 3s cubic-bezier(calc(var(--cubic1-1)),calc(var(--cubic1-2)),calc(var(--cubic1-3)),calc(var(--cubic1-4))) 1s infinite reverse both;
      }
    }
    .controls{
      display: inline-flex;
      .iconControls {
        font-size:2rem;
        padding-right:1rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    main {
      position:relative;

      .audioPlayer {
        position: absolute;
        top: -10%;
        left: 0;
      }
    }
    .footer{
      margin-top:2rem;
      color: var(--color-a);
      font-size: 1rem;
      font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }
  }
}


